<html>
<head>
<style>
p {
    color: red;
    text-align: center;
}
</style>
</head>
<body>



<h1> Henry Ke </h1>
<img src="https://lh6.googleusercontent.com/Ze54Z1wiMj0PsBSKaAdJvKhmx1ydO72q5LRCtbk6XVQgl6k9N10oYtm29rZ32mVr26yKbKeMz8Ma6bU=w3360-h1712-rw" alt="Description">
<p> Hometown: San Francisco </p>
<p> Year: Sophomore </p>
<p> I'm excited to learn more about ruby and web development! </p>
